.shopPageWrapper {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
