@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    background-color: aliceblue;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
