.homePageWrapper {
    display: flex;
    flex-direction: column;
    color: #1b405f;
    & a {
        width: fit-content;
    }
}

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: "DM Sans", sans-serif;
    padding-inline: 10px;
    color: #1b405f;
    & h1 {
        color: #1b405f;
        animation-delay: 0.5s;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.3;
    }
}

.features {
    background-color: #5072a7;
    border-radius: 12px;
}

.heroSectionDescription {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #1a1a1a;

    & > p {
        font-size: 1.2rem;
        font-weight: 300;
        font-style: italic;
        line-height: 1.3;
        letter-spacing: 1.2px;
        animation-delay: 0.5s;
    }
}

.armChairWrapper {
    position: relative;
    animation-delay: 0.8s;
    margin-top: 2rem;
}

.animated {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.armChair {
    width: 90%;
    max-width: 500px;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: translateX(-15px);
    }

    &:hover + .circle {
        border-radius: 10px;
    }
}

.circle {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 95%;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.082);
    z-index: -1;
    transition: border-radius 0.3s ease-in;
}

.newArrival {
    width: fit-content;
    position: absolute;
    right: 35px;
    top: 40px;
    padding: 10px;
    background: #5072a738;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7rem;
    color: #5072a7;
    border-radius: 4px;
    letter-spacing: 1.15px;
    filter: saturate(150%);
}

.shopNowBtn {
    font-family: "DM Sans", sans-serif;
    background-color: #1a496d;
    padding: 17px;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 1.2rem;
    transition: transform 0.5s ease;
    transform: translateY(100%);
    opacity: 0;
    animation: slideFromDown 0.5s ease 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromDown {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
