.homepageMain {
    height: 100vh;
    width: 100%;
}

.homepageBg {
    /* background-image: url("../../assets/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-height: 100vh;
    height: 100vh; */
}
